body{

	background-color: blue;
}
h1{
	color: yellow;
	font-family: Time;
	font-size: 50px;
	border: 1px solid #000;
   }
p{
	color: red;
	font-family: Courier;
	font-size: 100%;
	border: 1px solid #000;
    
}