body{
	background: lightpink;
}
h1{
	color: blue;
	font-family: Verdana;
	font-size: 300%;

}
p{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	padding: 10px 20px 10px 550px;
	margin: 10px 20px 30px 40px;
}
#p1{
	color: red;
	font-family: Courier;
	margin: 50px;
}
#p2{
	color: white;
	font-family: Courier;
	margin: 10px 20px 30px 40px;/*pode usar assim*/

}
#p3{
	color: blue;
	font-family: Time;
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 40px;
}
.p4{
	color: brown;
}