body{
	background: lightblue;
}
h1{

	color: yellow;
	font-family: Verdana;
	font-size: 50px;
}

p{
	color: black;
	font-family: Verdana;
	font-size: 80px;
    border-style: dotted dashed solid double;
}